<div class="foot-down"></div>
<div class="myfooter">

  <div class="centree">
    <div class="coords">

      <p><strong>EARL LES RUCHERS DES HAUTS DE GIRONDE</strong><br>
      Nathalie et Pascal RENAUD<br>8, avenue de Verdun<br>33620 - LAPOUYADE<br></p>
      <p><i class="fa fa-phone"> Nathalie : </i> 06 87 42 65 19<br>renaudnathalie@orange.fr</p>
      <p><i class="fa fa-phone"> Pascal : </i> 06 82 34 04 35<br>mielgironde33@gmail.com</p>
      <p><strong>www.les-ruchers-des-hauts-de-gironde.net</strong></p>

      </div>
    </div>


      <div class="list-menu">
        <ul>
          <li><a href="miels.html">Les Miels</li>
          <li><a href="senteurs.html">Les senteurs</li>
          <li><a href="douceurs.html">Douceurs et envies</li>
          <li><a href="santé.html">Bien-être et santé</li>
          <li><a href="about.html">Ou trouver nos produits</li>
          <li><a href="about.html">Le trésor des ruches</li>
          <li><a href="about.html">La production</li>
          <li><a href="about.html">A propos</li>
          <li><a href="contact.html">Contact</li>
        </ul>
      </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
       <div class="list-menu list-menu-gafa">
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>

    </div>
  </div>
</div>
