<div class="navbar-lrhg">
  <!-- Logo -->
  <a href="http://localhost:4567" class="navbar-lrhg-brand"><img src="../images/Logo-ruchers_022.png"></a>
  <%= partial 'layouts/components/tab' %>
  <!-- Right Navigation -->
  <div class="navbar-lrhg-right">
      <div class="dropdown">
        <i class="fa fa-heart" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-lrhg-dropdown-menu">
          <li>
            <a href="santé.html">Se soigner avec le miel</a>
          </li>
          <li>
            <a href="#">Protection des abeilles.</a>
          </li>
          <li>
            <a href="#">Aider la planète.</a>
          </li>
        </ul>
      </div><!-- Fin dropdown -->
  </div><!-- Fin navbar-lrhg-right -->

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-lrhg-item">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu
                dropdown-menu-right
                navbar-lrhg-dropdown-menu">
        <li><a href="miels.html">Les miels</a></h1><h1></li>
        <li><a href="senteurs.html">Les senteurs</a></h1><h1></li>
        <li><a href="douceurs.html">Les douceurs, envies</a></h1><h1></li>
        <li><a href="santé.html">Bien-être et santé</a></h1><h1></li>
        <li><a href="contact.html">Contact</a></h1><h1></li>
        <li><a href="about.html">A propos</a></h1><h1></li>
        <li><a href="#.html">CGV</a></h1><h1></li>
      </ul>
    </div>
  </div>
</div><!-- Fin navbar-lrhg -->

