<div class="tabs hidden-xs hidden-sm">

  <div class="tabs-item dropdown">
    <span><a href="miels.html">Les miels</a></span>
      <div class="dropdown-content">
        <span><a href="miels.html">Miels en pots</a></span>
        <hr>
        <span><a href="ballotins.html">Les ballotins</a></span>
      </div>
  </div>

  <div class="tabs-item">
    <span><a href="senteurs.html">Les senteurs</a><span>
  </div>
  <div class="tabs-item">
    <span><a href="douceurs.html">Les douceurs et envies</a></span>
  </div>
  <div class="tabs-item">
    <span><a href="santé.html">Bien-être et santé</a><span>
  </div>
  <div class="tabs-item">
     <span><a href="contact.html">Contact</a></span>
  </div>
  <div class="tabs-item">
     <span><a href="about.html">A propos</a></span>
  </div>
</div><!-- Fin tabs -->

