<div class="tabs hidden-xs hidden-sm">

  <div class="tabs-item dropdown">
    <span>Les miels</span>
      <div class="dropdown-content">
        <span><a href="miels.html">En pots</a></span>
        <hr>
        <span><a href="#">Les ballotins</a></span>
      </div>
  </div>


  <div class="tabs-item dropdown">
    <span>Les senteurs<span>
      <div class="dropdown-content">
         <span><a href="senteurs.html">Nos bougies</a></span>
          <hr>
         <span><a href="senteurs.html">Notre cire brute</a></span>
         <hr>
         <span><a href="senteurs.html">En savons</a></span>
    </div>
  </div>

  <div class="tabs-item dropdown">
    <span>Les douceurs et envies</span>
      <div class="dropdown-content">
         <span><a href="douceurs.html">En bonbons</a></span>
          <hr>
         <span><a href="douceurs.html">En Pastilles</a></span>
         <hr>
         <span><a href="douceurs.html">En gomme</a></span>
         <hr>
         <span><a href="douceurs.html">En pain d'épices</a></span>
    </div>
  </div>
  <div class="tabs-item dropdown">
    <span>Bien-être et santé<span>
      <div class="dropdown-content">
         <span><a href="santé.html">Le pollen</a></span>
          <hr>
         <span><a href="santé.html">La gelée royale</a></span>
         <hr>
         <span><a href="santé.html">Le propolis</a></span>
    </div>
  </div>

  <div class="tabs-item">
     <span><a href="#.html">Contact</a></span>
  </div>
  <div class="tabs-item">
     <span><a href="about.html">A propos</a></span>
  </div>

</div><!-- Fin tabs -->

