.cards {
  background: linear-gradient(155deg,
    rgba(0, 174, 0, 0.7) 0%,
    rgba(255, 205, 0, 1) 70%);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 120px;
  width: 250px;
  margin: 20px 10px;
  border: 4px $white solid;
  -moz-box-shadow: 2px 2px 3px 2px #000000;
  -webkit-box-shadow: 2px 2px 3px 2px #000000;
  -o-box-shadow: 2px 2px 3px 2px #000000;
  box-shadow: 2px 2px 3px 2px #000000;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=134, Strength=3);
  cursor: pointer;
  transition: all 100ms ease-out;
}

.cards:hover {
  background: linear-gradient(155deg,
    rgba(0, 120, 0, 0.7) 0%,
    rgba(255, 205, 0, 1) 70%);
  transform: scale(0.95);
}

.cards-category {
  font-size: 0.8em;
  position: absolute;
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
}
.cards-title h1 {
  font-size: 2rem;
  color: white;
  position: absolute;
  top: 20px;
  left: 10px;
  z-index: 1;
}

.cards img {
  position: absolute;
  bottom: 2px;
  right: 2px;
}

#contact {
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
}

#contact p {
  position: absolute;
  left: 69px;
  top: 22px;
  text-align: center;
  font-size: 1.7rem;
  color: white;
}
