.foot-up {
  background-image: url('../images/alveol1.png');
  height: 167px;
  width: 100%;
}

.foot-down {
  background-image: url('../images/fx-down.png');
  height: 167px;
  width: 100%;
}

.myfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: $orange;
}

.list-menu {
  color: black;
  font-weight: bolder;
  margin: 8px 2px 8px 2px;
}

.list-menu a {
  font-size: 1.4rem;
  color: $gray;
  padding: 0px 10px;
  transition: all ease-in-out 300ms;

}
.list-menu a:hover {  opacity: 0.3;
  color: $white;
  opacity: 1;
  text-decoration: none;
  transition: all ease-in-out 300ms;
}

.centree {
  margin: 0 auto;
}


