.foot-up {
  background-image: url('../images/alveol1.png');
  height: 167px;
  width: 100%;
}

.foot-down {
  background-image: url('../images/fx-down.png');
  height: 167px;
  width: 100%;
}

.myfooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 50px;
  background-color: $orange;
}

.centree {
  margin: 0 auto;
}

.coords {
  text-align: center;
  font-size: 1.2rem;
}

.list-menu {
  color: black;
}

.list-menu ul {
  list-style: square;
}

.list-menu a {
  font-size: 1.2rem;
  color: $gray;
  transition: all ease-in-out 300ms;
}
.list-menu a:hover {  opacity: 0.3;
  color: $white;
  opacity: 1;
  text-decoration: none;
  transition: all ease-in-out 300ms;
}
.list-menu-gafa {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}




