/* menu translateX */
.side-menu-about {
  position: fixed;
  top: 126px;
  left: -258px; /* -258 */
  z-index: 10;
  counter-reset: menulist;
  width: 280px;
  height: 210px;
  background: $bg-gradient;
  border-radius: 4px;
  border-top: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}


.side-menu-about:hover {
  left: 0px;
}

.side-menu-about ul {
  position: absolute;
  min-width: 220px;
  left: 4px;
  bottom: 0px;
  background: $grey-gradient;
  padding: 4px 4px 4px 8px; ;
  margin-left: 8px;
  list-style: none;
  border-radius: 4px;
  box-shadow: inset $box-shadow;
}

.side-menu-about a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  font-weight: lighter;
}

.side-menu-about a:hover {
  font-weight: bolder;
  color: $white;
}

.side-menu-about h4 {
  position: absolute;
  top: -4px;
  left: 40px;
  font-size: 1.4rem;
}

.side-menu-about li:before {
  position: relative;
  counter-increment: menulist;
  content: counter(menulist)" ";
  font-size: 1.2rem;
}

.main-about-title {
  text-align: center;
}

.main-about-flex {
  background: $orange;
  border-radius: 4px;
  padding: 8px 8px;
  margin: 10px 0px;
  border: 1px black solid;
}

.div-texte {
  background: $white;
  padding: 10px 10px 0px 10px;
  margin-top: 5px;
  font-size: 1.2rem;
  text-indent: 2rem;
  text-align: justify;
  flex: 1 0 auto;
}

.div-texte h4 {
  border: 1px black solid;
  background: $orange;
  text-align: center;
  padding: 4px 0px;
  margin-bottom: 12px;
}

.divimages {
  background: purple;
  padding: 2px 2px 2px 2px;
  margin: 0 auto;
  background: white;
  border-radius: 2px;
}

.bloc-ref {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: white;
  margin: 8px 4px;
  border-radius: 2px;
}

.div-texte-ref {
  background: $white;
  padding: 10px 10px 0px 10px;
  margin-top: 5px;
  font-size: 1.2rem;
  text-indent: 2rem;
  text-align: center;
  flex: 50% 0 auto;
}
.divimages-ref {
  padding: 2px 2px 2px 2px;
  border-radius: 2px;
  float: right;
}

.dplan {

}
