/*slide menu*/
.side-menu {
  position: fixed;
  top: 126px;
  left: -250px; /* -246 */
  z-index: 10;
  counter-reset: menulist;
  width: 280px;
  height: 236px;
  background: $bg-gradient;
  border-radius: 0px 4px 4px 0px;
  border-top: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

/* menu translateX */
.side-menu:hover {
  left: 0px;
}

.side-menu ul {
  position: absolute;
  min-width: 220px;
  left: 4px;
  bottom: 0px;
  background: $grey-gradient;
  padding: 4px 4px 4px 8px; ;
  margin-left: 8px;
  list-style: none;
  border-radius: 4px;
  box-shadow: inset $box-shadow;
}

.side-menu a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  font-weight: lighter;
}

.side-menu a:hover {
  color: $white;
}

.side-menu h4 {
  position: absolute;
  top: -4px;
  left: 60px;
  font-size: 1.4rem;
}

.side-menu li:before {
  position: relative;
  counter-increment: menulist;
  content: counter(menulist)" / ";
  font-size: 1.2rem;
  font-weight: bolder;
}

#gif-menu {
  position: absolute;
  top: 100px;
  right: 8px;
}

.intro-miel h3 {
    font-size: 3rem;
    text-align: center;
  }

/*cadre principal*/
.cdrfbox-miel {
  background: $orange;
  display: flex;
  justify-content: space-around;
  vertical-align: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 8px;
  font-size: 1.5rem;
}

/*cadre externe degradé*/
.main-miels {
  position: relative;
  box-shadow: $box-shadow;
  border-radius: 4px;
  padding: 1px 6px 6px 6px;
  background: $menu-gradient2;
}

.logo-title {
  position: relative;
  float: right;
  top: 15px;
  right: 10px;
  height: 50px;
}

.main-miels img {
  margin-bottom: 8px;
  max-height: 300px;
  border-radius: 4px;
}

.main-miels h2 {
  text-align: center;
  text-indent: none;
}

/*cadre gris*/
.section-miels {
  border: 1px black solid;
  border-radius: 4px;
  margin: 10px auto;
  padding: 4px;
  background: $grey-gradient;
  font-size: 1.4rem;
  color: black;
  width: 98%;
  min-height: 250px;
}

/*cadre blanc*/
.section-up {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 4px;
  padding: 8px 2rem;
  margin: 0 auto;
  background: $white;
  box-shadow: inset $box-shadow;
}

.section-up-left {
  margin: 0 auto;
  float: left;
  justify: center;

}

.section-up-right {
  float: right;
  max-width: 45%;
  background: transparent;
  border-radius: 4px;
  padding-right: 12px;
}

.section-up-right p {
  margin: 10px 0px;
  text-indent: 2rem;
  text-align: justify;
  padding-left: 20px;
  color: $gray;
  font-size: 2rem;
}

/*cadre étiquettes*/
.section-bottom {
  display: flex;
  justify-content: space-around;
  align-item: center;
  height: 20px;
}

.miel {
  opacity: 1;
}

.ballotins-links {
  text-align: center;
  margin: 20px 0px 20px 0px;
  & a {
  color: black;
  }
}

@media (max-width: 768px) {

  .section-up-left img {
      padding-bottom: 8px;
      max-height:400px;
      width: 100%;
      margin: 0 auto;
    }

  .main-miels h2 {
    font-size: 2rem;
  }

  .section-up-right {
    max-width: 98%;
  }

  .section-up-right p {
    font-size: 1.2rem;
    text-align: left;
    transform: scaleY(1.1);
    padding: 0px;
  }
  .intro-miel h3 {
    font-size: 2rem;
  }

  .logo-title {
  position: relative;
  float: right;
  top: 15px;
  right: 5px;
  height: 30px;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .section-up-left{
    float: left;
    width: 50%;
  }

  .section-up-right {
    width: 50%;
    float: right;
    padding: 0px 10px;
  }

  .section-up-right p{
    font-size: 1.4rem;
  }
}
