.side-menu-sante {
  position: fixed;
  top: 126px;
  left: -246px; /* -246 */
  z-index: 10;
  counter-reset: menulist;
  width: 280px;
  height: 150px;
  background: $bg-gradient;
  border-radius: 4px;
  border-top: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.side-menu-sante:hover {
  left: 0px;
}

.side-menu-sante ul {
  position: absolute;
  min-width: 220px;
  left: 4px;
  bottom: 0px;
  background: $grey-gradient;
  padding: 4px 4px 4px 8px; ;
  margin-left: 8px;
  list-style: none;
  border-radius: 4px;
  box-shadow: inset $box-shadow;
}

.side-menu-sante a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  font-weight: lighter;
}

.side-menu-sante a:hover {
  font-weight: bolder;
  color: $white;
}

.side-menu-sante h4 {
  position: absolute;
  top: -4px;
  left: 40px;
  font-size: 1.4rem;
}

.side-menu-sante li:before {
  position: relative;
  counter-increment: menulist;
  content: counter(menulist)" ";
  font-size: 1.2rem;
}

#gif-menu-sante {
  position: absolute;
  top: 50px;
  right: 8px;
}

.intro-sante {
  text-align: center;
}

.pollen-up-right {
  font-size: 1.6rem;
}

@media (max-width: 768px){
  .pollen-up-right {
    font-size: 1.3rem;
  }

  .pollen-up-right h4 {
    font-size: 1.6rem;
  }
}
