
<%= partial 'layouts/components/banner' %>

<div id="cdrfbox" class="cdrfbox">
  <img src="../images/lrhg-fx-up2.png">

    <a href="miels.html">
      <div class="cards">
        <div class="cards-category">Fabrication artisanale</div>
        <div class="cards-title"><h1>Miels en pots.</h1></div>
        <img src="images/pot_card.png" alt="Categorie" height = 90>
      </div></a>

    <a href="senteurs.html">
    <div class="cards">
      <div class="cards-category">Fabrication artisanale</div>
      <div class="cards-title"><h1>Les senteurs.</h1></div>
      <img src="images/Senteurs.png" alt="Categorie" height = 90>
    </div></a>

    <a href="douceurs.html">
    <div class="cards">
      <div class="cards-category">Fabrication artisanale</div>
      <div class="cards-title"><h1>Les douceurs,<br> et les envies...</h1></div>
      <img src="images/douceurs.png" alt="Categorie" height = 80>
    </div></a>

    <a href="sante.html">
    <div class="cards">
      <div class="cards-category">Fabrication artisanale</div>
      <div class="cards-title"><h1>Bien-être<br> et santé !</h1></div>
      <img src="images/sante.png" alt="Categorie" height = 100>
    </div></a>

    <a href="contact.html">
    <div class="cards" id="contact">

      <p><strong>CONTACT</strong><br>06 87 42 65 19<br>06 82 34 04 35</p>
    </div></a>

</div><!-- fin cdrfbox -->



