<div class="side-menu">
  <img src="../images/ico-menu-miels.gif" alt="menu" id="ico-menu-miel">
  <h4>Nos pots de Miels.</h4>
  <ul>
    <li>
      <a class="menu-left-link" href="#section1" aria-expanded="false" aria-controls="section">Acacia.</a>
    </li>
    <li>
      <a class="menu-left-link" href="#section2" aria-expanded="false" aria-controls="section">Toutes Fleurs des Champs.</a>
    </li>

    <li>
      <a class="menu-left-link" href="#section3" aria-expanded="false" aria-controls="section">Toutes Fleurs des Bois.</a>
    </li>

    <li>
      <a class="menu-left-link" href="#section4" aria-expanded="false" aria-controls="section">Bruyère.</a>
    </li>

    <li>
      <a class="menu-left-link" href="#section4" aria-expanded="false" aria-controls="section">Bourdaine.</a>
    </li>

    <li>
      <a class="menu-left-link" href="#section4" aria-expanded="false" aria-controls="section">Chataignier.</a>
    </li>

    <li>
      <a class="menu-left-link" href="#section4" aria-expanded="false" aria-controls="section">Crémeux.</a>
    </li>

    <li>
      <a class="menu-left-link" href="#section5" aria-expanded="false" aria-controls="section">Acacia Vanille Bio</a>
    </li>
  </ul>
</div>
<div class="container">

  <div class="cdrfbox-miel">
    <h2>Tout nos pots de miel.</h2>
    <p>Tous nos miels sont certifiés blabla... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum quaerat neque fugiat ipsa optio, excepturi. Quibusdam aliquam sunt minima possimus, suscipit, nulla inventore beatae animi, consectetur similique, tempore accusantium! Voluptatem. </p>
    <div class="main-miels">
      <div class="#">
        <div id="section1">
          <h2>Acacia.<h2>
        </div>
        <div class="section-miels">
          <div class="section-up">
          <img class="img-fluid" src="https://picsum.photos/320/240?random1" alt="Miel">
          <p>Notre miel d'acacia... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate repudiandae esse quaerat a nulla, qui consectetur voluptate officiis </p>
          </div>
          <div class="section-bottom">
            <div class="miel-250"><span>En pot de 250g</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
  <div class="cdrfbox-miel">
    <div class="main-miels">
      <div class="#">
        <div id="section2">
          <h2>Toutes Fleurs des Champs.<h2>
        </div>
        <div class="section-miels">
          <div class="section-up">
          <img class="img-fluid" src="https://picsum.photos/320/240?random2" alt="Miel">
          <p>Notre miel de Fleurs des Champs... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate repudiandae esse quaerat a nulla, qui consectetur voluptate officiis omnis voluptatibus beatae doloremque eveniet eum atque amet est voluptates tempora at.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, quam magnam consectetur veritatis tempore amet sed omnis enim similique blanditiis earum quasi error odio tenetur harum, iste velit nemo fugiat!</p>
          </div>
          <div class="section-bottom">
            <div class="miel-250"><span>En pot de 250g</span></div>
            <div class="miel-500"><span>En pot de 500g</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
  <div class="cdrfbox-miel">
    <div class="main-miels">
      <div class="#">
        <div id="section3">
          <h2>Toutes Fleurs des Bois.<h2>
        </div>
        <div class="section-miels">
          <div class="section-up">
          <img class="img-fluid" src="https://picsum.photos/320/240?random2" alt="Miel">
          <p>Notre miel de Fleurs des Champs... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate repudiandae esse quaerat a nulla, qui consectetur voluptate officiis omnis voluptatibus beatae doloremque eveniet eum atque amet est voluptates tempora at.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, quam magnam consectetur veritatis tempore amet sed omnis enim similique blanditiis earum quasi error odio tenetur harum, iste velit nemo fugiat!</p>
          </div>
          <div class="section-bottom">
            <div class="miel-250"><span>En pot de 250g</span></div>
            <div class="miel-500"><span>En pot de 500g</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>




</div><!-- Fin container -->

