<div class="side-menu-senteur">
  <img src="../images/ico-menu.gif" alt="menu" id="gif-menu-senteur">
  <a href="#topofmiels"><h4>Nos produits senteurs :</h4></a>
  <ul>
    <li><a class="menu-left-link" href="#section1" aria-expanded="false" aria-controls="section">Les bougies.</a></li>
    <li><a class="menu-left-link" href="#section2" aria-expanded="false" aria-controls="section">Notre cire brute.</a></li>
    <li><a class="menu-left-link" href="#section3" aria-expanded="false" aria-controls="section">Nos savons.</a></li>
  </ul>
</div>

<div id="topofmiels"></div>

  <div class="container">

    <div class="main-miels" data-aos="zoom-out">
      <div class="intro-senteur" >
        <h3>Les Senteurs.</h3>
        <p></p>
      </div>
    </div>

    <div  id="section1">
      <div class="anchor-offset-top"></div>
      <div class="main-miels">
        <img class="logo-title" src="../images/Logo-ruchers.png" alt="Logo">
        <h2>Les bougies</h2>
        <div class="section-miels">
          <div class="section-up">
              <%= image_tag "bougie.jpg", alt: "miel acacia" %>
              <p></p>
          </div>
          <div class="section-bottom">
            <p>Mettre une description</p>
          </div>
        </div>

      </div>
    </div>

     <div  id="section2">
      <div class="anchor-offset-top"></div>
      <div class="main-miels">
        <img class="logo-title" src="../images/Logo-ruchers.png" alt="Logo">
        <h2>La cire brute</h2>
        <div class="section-miels">
          <div class="section-up">
              <%= image_tag "#", alt: "image de la cire" %>
              <p></p>
          </div>
          <div class="section-bottom">
            <p>description</p>
          </div>
        </div>
      </div>

    </div>
     <div  id="section3">
      <div class="anchor-offset-top"></div>
      <div class="main-miels">
        <img class="logo-title" src="../images/Logo-ruchers.png" alt="Logo">
        <h2>Les savons</h2>
        <div class="section-miels">
          <div class="section-up">
              <%= image_tag "savons.jpg", alt: "miel acacia" %>
              <p></p>
          </div>
          <div class="section-bottom">
            <p>description</p>
          </div>
        </div>
      </div>
    </div>



  </div><!-- fin container -->



